/*estilos pagina principal*/
/* body {
    background-image:  linear-gradient(120deg, rgba(64, 58, 64, 0.699) 0%, rgba(95, 39, 46, 0.692) 100%),
    url(../pics/welcome-pic.jpg);
    font-family: 'Righteous', cursive;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
} */

.parent{
    position: relative;
    top: 0;
    left: 0;
}

.picture1{
   position: relative;
   width: 1823px;
   height: 1025;
   top: 0;
   left: 0;
}

.picture2{
    position:absolute;
    width: 200px;
    height: 200px;
    top: 20%;
    left: 70%;
}

.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FF8C32 ;
    font-family: 'Righteous', cursive;
    font-size:100px;
    text-decoration: none;
}

/* estilos paginas de registro */

.loginBackgr{
    background-image:  linear-gradient(120deg, rgba(64, 58, 64, 0.699) 0%, rgba(95, 39, 46, 0.692) 100%);
    font-family: 'Righteous', cursive;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
}
.loginPage{
    background: url(../pics/login-pic.jpg);
    background-color: #102166;
}
.center-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    border-radius: 40px;
    width:300px;
    height:320px;
    text-align: center;
    color:white;
}

.logoGoogle{
    size:5px;
    height:fit-content;
    width:50px;
}

.logoUser{
    width:fit-content;
    height:200px;
    border-radius:50%;
    border:10px solid;
    border-color:#102166;
    text-align:center;
    background:center no-repeat;
}

/* estilos boton registro */
.buttonstyle a{
    text-decoration: none;
    color: white;
}
.buttonstyle{
    background-color:#FF8C32;
    border-radius: 50px;
    width:100px;
}
/*estilos newsfeed/*