* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-nav: #102166;
    --color-border: #000000;
    --color-profile: #FF8C32;
    --color-background-body: #f7f7f7;
    --color-text: #06113C;
    --color-background-center-box:#ffffffe6;
    ---color-transparent: gray;
}

.home-container {
    background-image: linear-gradient(120deg, rgba(64, 58, 64, 0.699) 0%, rgba(95, 39, 46, 0.692) 100%),
        url('../pics/welcome-pic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-home {
    color: #FF8C32;
    font-family: 'Righteous', cursive;
    font-size: 100px;
    -webkit-text-stroke: 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flower-title {
    width: 110px;
    height: 110px;
    display: inline-block;
    margin: 0px 0 0 50px;
}

.intro-box {
    background-color: #0B1437;
    color: white;
    font-family: 'Righteous', cursive;
    text-align: center;
    align-items: center;
    width: 440px;
    border-radius: 20px;
    padding: 14px;
}

.buttonhomeorange {
    background-color: #FF8C32;
    border-radius: 30px;
    padding: 4px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    position: absolute;
    top: 80%;
    left: 40%;
    font-family: 'Righteous', cursive;
    width: auto;
    display: inline-block;
    margin: 0px 0 0 50px;
}

.buttonhomeorange a {
    text-decoration: none;
    color: white;
}


/*estilos paginas de registro*/

.login-page, .register-page {
    background-image: url('../pics/loginBackground.jpg');
    height: 100vh;
    font-family: 'Righteous', cursive;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.center-box, .register-page-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 350px;
    height: 600px;
    background-color: var(--color-background-center-box);
    color: var(--color-border);
}
.title-login-register{
    color: #FF8C32;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    -webkit-text-stroke: 0.1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-subtitle{
    color:var(--color-text);
    line-height: 2rem;
}

.text-field{
    border:2px solid var(--color-border) ;
    border-radius: 4px;
    width: 271px;
    height: 41px;
    padding: 8px;
    margin: 5px;
}
.logo-google {
    size: 5px;
    width: 26px;
    display: inline-block;
    padding: 5px;
}

.logo-user{
    height: 118px;
    width:98px;
    margin-top: 15px;
}

/* estilos boton registro*/
.button-login-orange a {
    text-decoration: none;
    color: white;
}

.button-login-orange {
    background-color: #FF8C32;
    border-radius: 0.62rem;
    border-color: transparent;
    padding: 1rem 2rem;
    color: white;
    height:46px;
    align-items:center;
    display:flex;
    font-family: 'Righteous', cursive;
    margin:8px;
    width: 15rem;
    cursor: pointer;
    justify-content: center;
}

.link-nextpage a{
    text-decoration: underline;
    color: var(--color-text);
    padding:25px;
    margin:15px;
    font-size: 12px;
}
.line-google{
    width: 150px;
    height: 1px;
    margin: 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:gray;
}

.line-google span{
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
    background-color:  var(--color-background-center-box);
}

/*Estilos newsfeed */

.header-nav {
    background-color: var(--color-nav);
    position: fixed;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    width: 150px;
    margin-left: 20px;
}

.logo1 {
    margin-right: 10px;
    width: 60px;
    max-width: 100px;
    overflow: hidden;
    display: block;
    border-radius: 100%;
    border: 0.10rem solid var(--color-border);
}

.bar-btn {
    font-size: 25px;
    color: white;
    margin-right: 34px;
    cursor: pointer;
}

.search,
.search-nav {
    display: none;
}

.nav-containaer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*contenido publicaciones*/
.direct-access {
    display: none;
}

.direct-access {
    background-color: var(--color-profile);
    display: flex;
    width: 583px;
    height: 44px;
    margin: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
}

.destacado-option,
.hom-e-option,
.loultimooption,
.quizzes-option,
.recomendaciones-option {
    background-color: var(--color-background-body);
    padding: 5px 12px;
    margin: 0 auto;
    border-radius: 11px;
    color: #7C0E0E;
    cursor: pointer;
}

/* Responsive for desktop */

@media screen and (min-width: 768px) {

    /*estilos media query paginas de registro*/
    .login-page, .register-page {
        background-image:url('../pics/fondo-login-register.png');
        height: 100vh;
        font-family: 'Righteous', cursive;
        background-position: center;
        background-size: cover;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    
    .center-box, .register-page-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        width: 350px;
        height: 600px;
        background-color: var(--color-background-center-box);
        color: var(--color-border);
    }

    .title-login-register{
        color: #FF8C32;
        font-family: 'Righteous', cursive;
        font-size: 40px;
        -webkit-text-stroke: 0.1px black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
.login-subtitle{
    color:var(--color-text);
    line-height: 2rem;
}
    .text-field{
        border:1px solid var(--color-border);
        border-radius: 4px;
        width: 271px;
        height: 41px;
        padding: 8px;
        margin: 5px;
    }
    .logo-google {
        size: 5px;
        width: 26px;
        display: inline-block;
        padding: 5px;
    }
    .logo-user{
        height: 118px;
        width:98px;
        margin-top: 15px;
    }

    /* estilos boton registro*/
    .button-login-orange a {
        text-decoration: none;
        color: white;
    }
    .button-login-orange {
        background-color: #FF8C32;
        border-radius: 0.62rem;
        border-color: transparent;
        padding: 1rem 2rem;
        color: white;
        height:46px;
        align-items:center;
        display:flex;
        font-family: 'Righteous', cursive;
        margin:8px;
        width: 15rem;
        cursor: pointer;
        justify-content: center;
    }
    .link-nextpage a {
        text-decoration: underline;
        color: var(--color-text);
        padding:25px;
        margin:15px;
        font-size: 12px;
    }
    .line-google{
        width: 150px;
        height: 1px;
        margin: 32px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:gray;
    }
    .line-google span{
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
    background-color:  var(--color-background-center-box);
    }


     /*Estilos Desktop newsfeed*/
    .header-nav {
        position: static;
    }

    .logos-container {
        display: flex;
    }

    .logo {
        margin-left: 27px;
        margin-top: 2px;
        width: 200px;
        display: block;
    }

    .logo1 {
        margin-left: 10px;
        width: 60px;
        display: block;
        border-radius: 50%;
    }

    nav {
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .search,
    .search-nav {
        display: flex;
        font-size: 15px;
        color: white;
        margin-right: 34px;
        cursor: pointer;
    }

    .nav-containaer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /*contenido de pag*/
    .conten-animegang {
        display: flex;
    }

    /*contenido de acesos directos*/

    .profile-container {
        width: 334px;
        margin: 18px;
        line-height: 2rem;
        border-right: 1px solid;
    }

    .options-profile {
        font-size: 15px;
        font-weight: bolder;
    }

    /*contenido publicaciones*/
    .public-container {
        width: 1165px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .direct-access {
        background-color: var(--color-profile);
        display: flex;
        width: 583px;
        height: 44px;
        margin: 18px;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
    }

    .destacado-option,
    .home-option,
    .loultimo-option,
    .quizzes-option,
    .recomendaciones-option {
        background-color: white;
        padding: 5px 12px;
        margin: 0 auto;
        border-radius: 11px;
        color: #7C0E0E;
        cursor: pointer;
    }

    .post-container {
        background-color: #AB6B6B;
        width: 713px;
        height: 150px;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .post-text {
        width: 600px;
        height: 77px;
        border-radius: 2rem;
        border: none;
    }

    .post-comment {
        margin-top: 1rem;
        padding: 0.45rem;
        border-radius: 12px;
        border: none;
        background-color: #FF8C32;
        color: #fff;
        font-weight: 600;
        width: 9rem;
        cursor: pointer;
    }
}