/*estilos pagina principal*/
/* body {
    background-image:  linear-gradient(120deg, rgba(64, 58, 64, 0.699) 0%, rgba(95, 39, 46, 0.692) 100%),
    url(../pics/welcome-pic.jpg);
    font-family: 'Righteous', cursive;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
} */

.picture{
    width: 150px;

}
    

.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FF8C32 ;
    font-family: 'Righteous', cursive;
    font-size:100px;
    text-decoration: none;
}

/*estilos paginas de registro/*
/*estilos newsfeed/*